In [7]:
!pip install pyspark==3.3.1

Requirement already satisfied: pyspark==3.3.1 in /home/aluno/Documents/curso2/venv/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /home/aluno/Documents/curso2/venv/lib/python3.9/site-packages (from pyspark==3.3.1) (0.10.9.5)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/home/aluno/Documents/curso2/venv/bin/python3.9 -m pip install --upgrade pip' command.

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession\
    .builder\
    .appName("twitter_transformation")\
    .getOrCreate()

In [10]:
df = spark.read.json("../../datalake/twitter_datascience")

In [ ]:
# df.show()

In [ ]:
# df.printSchema()

In [13]:
from pyspark.sql import functions as f

In [14]:
df.select(f.explode("data")).printSchema()

root
 |-- col: struct (nullable = true)
 |    |-- author_id: string (nullable = true)
 |    |-- conversation_id: string (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- edit_history_tweet_ids: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- id: string (nullable = true)
 |    |-- in_reply_to_user_id: string (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- public_metrics: struct (nullable = true)
 |    |    |-- like_count: long (nullable = true)
 |    |    |-- quote_count: long (nullable = true)
 |    |    |-- reply_count: long (nullable = true)
 |    |    |-- retweet_count: long (nullable = true)
 |    |-- text: string (nullable = true)

In [15]:
df.select(f.explode("data")).show()

+--------------------+
|                 col|
+--------------------+
|{1307355301549543...|
|{1276058041389953...|
|{3111536505, 1595...|
|{1053814152798461...|
|{144592995, 15959...|
|{1053814152798461...|
|{1214696110364733...|
|{1053814152798461...|
|{240549639, 15959...|
|{1346615924535787...|
|{1574149382416515...|
|{1574149382416515...|
|{1574149382416515...|
|{1346615924535787...|
|{120993720, 15959...|
|{1357366230093545...|
|{1072579719739179...|
|{1053814152798461...|
|{1288142066082557...|
|{1163747024950452...|
+--------------------+
only showing top 20 rows

In [16]:
df.select(f.explode("data").alias("tweets"))\
  .select("tweets.author_id", "tweets.conversation_id",
        "tweets.created_at", "tweets.id",
        "tweets.public_metrics.*", "tweets.text").printSchema()

root
 |-- author_id: string (nullable = true)
 |-- conversation_id: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- like_count: long (nullable = true)
 |-- quote_count: long (nullable = true)
 |-- reply_count: long (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- text: string (nullable = true)

In [17]:
tweet_df = df.select(f.explode("data").alias("tweets"))\
  .select("tweets.author_id", "tweets.conversation_id",
        "tweets.created_at", "tweets.id",
        "tweets.public_metrics.*", "tweets.text")

In [18]:
tweet_df.show(5)

+-------------------+-------------------+--------------------+-------------------+----------+-----------+-----------+-------------+--------------------+
|          author_id|    conversation_id|          created_at|                 id|like_count|quote_count|reply_count|retweet_count|                text|
+-------------------+-------------------+--------------------+-------------------+----------+-----------+-----------+-------------+--------------------+
|1307355301549543435|1595930248922763264|2022-11-24T23:59:...|1595930248922763264|         0|          0|          0|            5|RT @usaxoom: Buy ...|
|1276058041389953024|1595930147990999045|2022-11-24T23:59:...|1595930147990999045|         0|          0|          0|            9|RT @IainLJBrown: ...|
|         3111536505|1595930101438468097|2022-11-24T23:59:...|1595930101438468097|         0|          0|          0|            7|RT @DemaiTech: Wo...|
|1053814152798461952|1595930089317109761|2022-11-24T23:59:...|1595930089317109761|         0|          0|          0|            4|RT @LTDscifai: ðŸ‘‰...|
|          144592995|1595930051777904640|2022-11-24T23:59:...|1595930051777904640|        40|          0|          2|           12|Learning Excel as...|
+-------------------+-------------------+--------------------+-------------------+----------+-----------+-----------+-------------+--------------------+
only showing top 5 rows

In [ ]:
# df.printSchema()

In [21]:
df.select(f.explode("includes.users").alias("users")).select("users.*").printSchema()

root
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- username: string (nullable = true)

In [22]:
user_df = df.select(f.explode("includes.users").alias("users")).select("users.*")

In [23]:
user_df.show(5)

+--------------------+-------------------+--------------------+---------------+
|          created_at|                 id|                name|       username|
+--------------------+-------------------+--------------------+---------------+
|2020-09-19T16:26:...|1307355301549543435|           Rosia_BOT|      rosiaXbot|
|2020-06-25T07:42:...|1276058041389953024|The Data Science Bot|datasciencebot_|
|2015-03-24T20:50:...|         3111536505|            BashNano|       BashNano|
|2018-10-21T01:04:...|1053814152798461952|     MichaEL Del Rey|   MickyDelRey1|
|2010-05-16T19:15:...|          144592995|          R-bloggers|      Rbloggers|
+--------------------+-------------------+--------------------+---------------+
only showing top 5 rows

In [24]:
tweet_df.coalesce(1).write.mode("overwrite").json('output/tweet')
user_df.coalesce(1).write.mode("overwrite").json('output/user')